.App {
  width: 100vw;
  height: 100vh;
}

#background-login{
  height: auto;
  background: linear-gradient(90deg, rgba(78,255,0,1) 0%, rgba(38,165,130,1) 43%, rgba(35,52,179,1) 100%);
}

.Sidebar-logo{
  height: 90px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 9px;
  border: 3px solid  black;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  left: 62.5px;
  top: 0px;
}

.Sidebar-mintra{
  height: 90px;
  width: 120px;
  background-color: #ffffff;
  border: 1px solid  black;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  left: 62.5px;
  top: 0px;
}

body{
  margin: 0;
  padding: 0;
  background-color: #A3ADA5;
}

.Sidebar{
  height: 460px;
  width: 250px;
  background-color: #01C681;
  border-radius: 30px;
  float:left;
  margin: auto;
}

.SidebarList{
  height: auto;
  padding: 5%;

}
.SidebarList .row{
  height: 100%;
  height: 50px;
  border: 3px solid  white;
  border-radius: 10px ;
  list-style-type: none;
  margin: 5%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.SidebarList .row:hover{
  cursor: pointer;
  background-color: #01754A;
}

.SidebarList .row #active{
  background-color: #01754A;
}

.row #title{
  flex: 70%;
}

.CreateGroup {
  height: 45vw;
  width: 850px;
  border-radius: 10px ;
  display: block;
  background-color: #01C681;
  position: static;
  margin: 20px auto;
  

}

.BasicSelect{
  background-color: #D9D9D9;
}

.ActiButton{
  color:  #D9D9D9;
  
}

.ActiText{
  width: 100%;
  display: flex;
  align-items: center;
}

.Checkboxes{
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
}