@import 'bootstrap/dist/css/bootstrap.min.css';

#main-container{

    place-items: center center;
}

#sign-in-form{
    max-width: 330px;
}
.form-control:focus{
    z-index: 5;
}
.body {
    display: grid;
    background-color: azure;
    min-height: 100vh;
}